

.first-screen {
	min-height: 100vh;
	height: 100%;
	background-color: #505153;
	background-image: url("../img/la-bg.jpg");
	background-size: cover;
	background-position: center 0;

	.header {
		background-color: rgba(0, 0, 0, .3);
		>.wrapper {
			padding-top: 10px;
			padding-bottom: 10px;

			@media screen and (min-width: 900px) {
				display: flex;
				justify-content: space-between;
			}

			>.block-user-items {
				display: none;

				@media screen and (min-width: 900px) {
					display: inline-block;
				}

				@media screen and (max-width: 900px) {
					position: fixed;
					display: block;
					transform: translateY(-300%);
					z-index: 999999;
					top: 6px;
					left: 30px;
					transition: transform 1s ease;

					&.active {
						transform: translateY(0%);
					}
				}
			}
		}
		
	}

	.title {
		font-size: 52px;
		line-height: 54px;
		color: #fff;

		&__description {
			color: #cdcdcd;
		}
	}

}

.logo {
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	color: #fff;
}

.navigation {

	@media screen and (max-width: 900px) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		min-width: 100%;
		height: 100vh;
		background-color: #383838;
		transform: translateY(100%);
		z-index: 9999;
		transition: transform .7s ease;

		&.active {
			transform: translateY(0);
		}
	}


	@media screen and (min-width: 900px) {
		display: inline-block;
		max-width: 410px;
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style-type: none;

		@media screen and (max-width: 900px) {
			margin-top: 50vh;
			transform: translate(0, -50%);
		}
	}

	&__item {
		display: inline-block;

		@media screen and (max-width: 900px) {
			display: block;
			text-align: center;
		}

		&:not(:last-child) {
			margin-right: 35px;

			@media screen and (max-width: 900px) {
				margin-right: 0;
				margin-bottom: 5vh;
			}
		}
	}

	&__link {
		display: block;
		text-transform: uppercase;
		text-decoration: none;
		color: #ffff;
		transition: background-color .5s ease;

		@media screen and (max-width: 900px) {
			display: inline-block;
			padding: 15px;
			position: relative;

			&::before,
			&::after {
				position: absolute;
				content: "";
				width: 100%;
				height: 3px;
				top: 0;
				left: 0;
				background-color: #2e71f2;
				transform: translateX(-200%);
				opacity: 0;
				transition: all .5s ease;
			}

			&::after {
				top: 100%;
			}

			&:hover::before,
			&:hover::after {
				transform: translateX(0);
				opacity: 1;
			}

			&:hover {
				color: #000;
				background-color: #fff;
			}
		}
	}
}

.mobile-menu {
	position: absolute;
	top: 6px;
	right: 30px;
	width: 23px;
	height: 22px;
	cursor: pointer;
	z-index: 99999;

	&.fix {
		position: fixed;
	}

	@media screen and (min-width: 900px) {
		display: none;
	}

	&__item {
		display: inline-block;
		position: relative;
		width: 100%;
		height: 3px;
		background-color: #fff;

		&.fix {
			background-color: transparent;

			&::before {
				transform-origin: left 0;
				transform: rotate(45deg);
			}

			&::after {
				transform-origin: left 0;
				transform: rotate(-45deg) translateX(-3px);
			}
		}


		&::before,
		&::after {
			position: absolute;
			content: "";
			width: 100%;
			height: 3px;
			background-color: #fff;
			transition: all .5s ease;
		}

		&::before {
			top: -7px;
		}

		&::after {
			bottom: -7px;
		}
	}
}

.header-img {
	width: 63px;
	height: 63px;
	margin: 25vh auto 25px auto;
	/*background-color: #fff;*/
	background-image: url("../img/header-img.png");
}
