.subscribe {
	padding-top: 75px;
	background-color: #48494b;
	color: #fff;

	.title {
		color: #fff;

		&__description {
			color: rgba(255, 255, 255, .7);
			margin-bottom: 65px;

			@media screen and (min-width: 600px) {
				max-width: 350px;
				margin-right: auto;
				margin-left: auto;
			}
		}
	}
}

.subscribe-form {
	width: 100%;
	margin: 0 auto;
	max-width: 600px;
	text-align: center;
	padding-bottom: 30px;

	@media screen and (min-width: 600px) {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding-bottom: 100px;
	}

	&__input {
		width: 100%;
		max-width: 400px;
		height: 45px;
		padding: 7px 20px;
		margin-bottom: 27px;
		font-size: 14px;
		font-weight: 700;
		border-radius: 5px;
		color: #fff;
		background-color: rgba(255, 255, 255, .15);
		border-style: none;
		outline: none;
		box-sizing: border-box;
		transition: all .5s ease;

		&:hover {
			background-color: rgba(255, 255, 255, .3);
		}

		&:focus {
			box-shadow: 0 10px 15px -8px #2e71f2;
		}

		&::placeholder {
			color: #fff;
		}
	}

	&__btn {
		margin-bottom: 27px;
		border-style: none;
	}
}