@import "fonts";
@import "header";
@import "headline";
@import "community";
@import "reviews";
@import "experience";
@import "invest";
@import "video-block";
@import "next-move";
@import "subscribe";
@import "footer";

body, html {
	font-size: 16px;
	padding: 0;
	margin: 0;
	background-color: #189299;
}

.wrapper {
	max-width: 1030px;
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
	margin: 0 auto;
}

.title {
	font-family: 'Roboto-Bold', sans-serif;
	font-size: 46px;
	line-height: 52px;
	text-align: center;
	text-transform: capitalize;
	margin-top: 0;
	color: #3b3d40;

	@media screen and (min-width: 900px) {
		max-width: 405px;
		margin: 0 auto;

		&__description {
			max-width: 400px;
			margin: 0 auto;
		}
	}

	&__description {
		font-family: serif;
		font-size: 24px;
		line-height: 26px;
		text-align: center;
		color: #656b6f;
	}
}

.link {
	display: inline-block;
	font-size: 12px;
	padding: 12px 35px;
	border-radius: 20px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background-color: #2e71f2;
	transition: all .5s ease;
	cursor: pointer;

	&:hover {
		box-shadow: 0 10px 15px -5px #2e71f2;
	}
}

/*.swiper-container-wp8-horizontal,
.swiper-container-wp8-horizontal > .swiper-wrapper {
	  min-height: 100%;padding: 5px;width: 100%;
}*/

.swiper-container2 {
	overflow-x: hidden;
}

.go-up {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: block;
	width: 50px;
	height: 50px;
	background-color: #2e71f2;
	border-radius: 50%;
	z-index: 555;

	&:hover {
		box-shadow: 0 0px 15px 1px #2e71f2;
	}

	&::before {
		position: absolute;
		content: "";
		width: 15px;
		height: 15px;
		top: 50%;
		left: 50%;
		border: 2px solid #fff;
		border-width: 0px 2px 2px 0;
		transform: translate(-50%, -30%) rotate(-135deg);
	}
}